:root {
  --dcg-custom-background-color: #222;
  --dcg-custom-text-color: #bbb;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#calculator {
  width: 100%;
  height: 100%;
}

.dcg-basic-list-container {
  border-top: none !important;
}

.dcg-basic-list-placeholder {
  border-left: none !important;
  border-right: none !important;
}

.dcg-calc-basic-main > *:nth-child(2) {
  display: none;
}

.dcg-basic-expression {
  border: 1px solid #555 !important;
}

.dcg-basic-expression.dcg-focused {
  box-shadow: none !important;
  border: 1px solid #888 !important;
}

.dcg-basic-fraction-toggle {
  color: #bbb !important;
  border: 2px solid #bbb !important;
}

.dcg-answer-hint {
  display: none;
}
